@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

$black: #3A3A3A;
$white: #fff;
$gray: #808080;
$lightgray: #D5D5D5;

header {
  margin: 20px 0 0 0;
  text-transform: uppercase;
  color: $gray;
  font-size: 16px;
  padding: 10px 0 0 0;
  font-family: Roboto, serif;
  .underline-black {
    padding: 0 0 15px 0;
    border-bottom: SOLID;
    border-bottom-color: $black;
  }
  .underline-lightgrey {
    padding: 0 0 15px 0;
    border-bottom: SOLID;
    border-bottom-color: $lightgray;
  }
  .icons {
    margin: 20px 0 0 0;
  }
  img {
    margin: -10px 0 25px 0;
  }
}
#todayDate {
  margin: 0 0 15px 0;
}
.d-flex {
  display: flex;
}
.spacerdiv {
  width: 100%;
  margin: 15px 0;
}
.d-flex-space {
  display: flex;
  justify-content: space-between;
}
.header-top-right {
  justify-content: flex-end;
  span {
    justify-content: flex-end;
  }
  a, p {
    margin: 0 10px 0 10px;
    color: $gray;
  }
  button {
    margin: 0 10px 0 10px;
    border: none;
    background-color: transparent;
  }
}
.search {
  margin: 0 25px 0 0;
}
.header-nav-div {
  border-top: SOLID $black;
  border-top-width: 2px;
  border-bottom: SOLID $black;
  .ul-nav {
    display: flex;
    justify-content: space-around;
    min-height: 55px;
    margin: 10px 0;
    li {
      margin: auto 0;
      list-style: none;
      a {
        color: $gray;
        padding: 5px 10px;
      }
    }
  }
}
li {
  list-style: none;
}
.first-line {
  margin: 35px 0;
}
.post {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-family: "Roboto", serif;
  .flex-center {
    display: flex;
    justify-content: center;
  }
  .content {
    background-color: white;
    padding: 18px 18px;
    p {
      font-family: "Alegreya Sans", serif;
      font-size: 16px;
      word-break: break-word;
    }
  }
  .infos {
    i {
      background-color: #a5a5a5;
      color: white;
      font-size: 14px;
      padding: 6px;
    }
    span {
      color: $black;
      font-weight: 700;
    }
    font-size: 16px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .bigpost-infos {
    i {
      background-color: #a5a5a5;
      color: white;
      font-size: 12px;
      padding: 4px;
    }
    span {
      color: $black;
      font-weight: 700;
    }
    font-size: 14px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .postcomment {
    font-family: "Roboto", serif;
    font-size: 14px;
    width: fit-content;
    margin-left: 65px;
    padding: 6px 10px;
    p {
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      color: white;
    }
  }
}
.medium-right-articles {
  display: flex;
  justify-content: space-between !important;
  flex-direction: column;
  min-height: 500px;
}
.mediumpost {
  min-height: 235px;
}
.bigpost {
  min-height: 500px;
}
.artcle-compact-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
  div {
    display: flex;
    flex-direction: row;
    margin: auto 0;
  }
  h1 {
    width: auto;
    margin: 0 25px 0 0;
  }
  .color {
    height: 3px;
    width: 150px;
  }
  .grey {
    height: 3px;
    width: 80%;
    background-color: $lightgray;
  }
}
.big-article {
  margin: 20px 0;
  height: 235px;
  display: flex;
  flex-wrap: nowrap !important;
  .article-big-picture {
    height: 235px;
    width: 100%;
    margin: 0 15px 0 15px;
    background-position: center;
    background-size: cover;
  }
}